$primary-normal: blue;
$primary-dark: rgb(1, 1, 44);
$primary-light: rgb(66, 66, 218);

$secundary-normal: rgb(80, 0, 0);
$secundary-dark: rgb(19, 0, 0);
$secundary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fafbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040;

